<template>
	<div class="main-container">
		<el-row type = 'flex' justify = 'end'>
			<rstorage-menu :is_home = 'true' />
		</el-row>

		<el-row>
			<el-col :span = "8">
				<el-menu
					default-active = "2"
					class = "el-menu-vertical-demo"
					@select = "handleSelect">
					<el-submenu index = "1">
						<template slot = "title">
							<i class = "el-icon-document-add"></i>
							<span>New</span>
						</template>
						<el-menu-item index = "1-1">Text Document</el-menu-item>
						<el-menu-item index = "1-2">Image</el-menu-item>
						<el-menu-item index = "1-3">Other File</el-menu-item>
					</el-submenu>

					<el-menu-item index="2">
						<i class = "el-icon-menu"></i>
						<span>Recent</span>
					</el-menu-item>

					<el-submenu index="3">
						<template slot="title">
							<i class = "el-icon-location"></i>
							<span>All Files</span>
						</template>
						<el-menu-item index="3-1">item one</el-menu-item>
						<el-menu-item index="3-2">item one</el-menu-item>
					</el-submenu>
					
					<el-menu-item index="4">
						<i class="el-icon-setting"></i>
						<span>Shared with me</span>
					</el-menu-item>
				</el-menu>
			</el-col>

			<el-col :span = "16">
				<rstorage-file-list
					:type = "list_type"
					:refetch = 'refetch'
					@refetch_done = 'refetch_done'
					@view_file_e = 'view_file' />
			</el-col>
		</el-row>

		<el-dialog
			:title = '`File "${ open_file_name }"`'
			:visible.sync = 'open_dialog'
			width = '85%'
			append-to-body
			@open = 'check_file'
			@close = 'reset_dialog'
			:destroy-on-close = 'true'>
			<el-select
				v-model = 'share_user'
				remote
				:remote-method = 'search_select'
				filterable
				clearable
				placeholder = 'Share with'
				ref = 'select'>
				<el-option
					v-for = '(option) in share_user_list'
					:key = 'option.id'
					:label = 'option.username'
					:value = 'option.id'>
					<span style="float: left">
						{{option.username}}
					</span>
				</el-option>
			</el-select>
			<el-button @click = 'share_with_user'>
				Share
			</el-button>
			<div
				v-if = 'open_file_type == "image"'
				v-show = '!edit_image'>
				<el-button @click = "check_image_file">
					Edit
				</el-button>
				<el-image
					:src = '`${file_base}/${open_file.name}`'
					fit = 'cover'
					class = 'image'>
						<div slot="error" class="image-slot">
							<i class="el-icon-picture-outline"></i>
						</div>
				</el-image>
			</div>

			<div style = "height: 600px" v-if = 'edit_image'>
				<image-editor
					:include-ui="use_default_img_ui"
					:options="img_options"
					ref="tui_img_editor" />
			</div>

			<video-player
				v-else-if = 'open_file_type == "video"'
				class="video-player"
				ref = "videoPlayer"
				:options = "player_options" />

			<rstorage-text-editor
				v-else-if = 'open_file_type == "rtxt"'
				:new = "new_text_file"
				:file = "open_file"
				@close_text_file = 'open_dialog = false'
				ref = 'html_content' />
		</el-dialog>


		<el-dialog
			title = 'Add File'
			:visible.sync = 'uploading'
			width = '85%'
			append-to-body
			@close = 'uploading = false'
			:destroy-on-close = 'true'>
			<el-upload
				:auto-upload = 'false'
				:multiple = 'true'
				action = ""
				ref = 'upload_stuff'
				list-type="picture-card">
				<i class="el-icon-plus"></i>
			</el-upload>

			<el-button
				type = 'primary'
				@click = 'add'>
				Add
			</el-button>
		</el-dialog>

	</div>
</template>

<script>
import RstorageTextEditor from '../components/TextEditor'
import AuthStatus from '../mixins/auth_status'
import RstorageMenu from '../components/Menu'
import RstorageFileList from '../components/FileList'
import { ImageEditor } from '@toast-ui/vue-image-editor/src/index'

import 'tui-color-picker/dist/tui-color-picker.css'
import 'tui-image-editor/dist/tui-image-editor.css'
import 'tui-image-editor/dist/svg/icon-a.svg'
import 'tui-image-editor/dist/svg/icon-b.svg'
import 'tui-image-editor/dist/svg/icon-c.svg'
import 'tui-image-editor/dist/svg/icon-d.svg'

import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'

export default {
	data() {
		return {
			open_dialog: false,
			open_file: {},
			open_file_name: '',
			open_file_type: '',
			player_options: {},
			new_text_file: true,

			list_type: 'recent',
			refetch: false,

			use_default_img_ui: true,
			img_options: {
				cssMaxHeight: 1000,
				includeUI: {
					loadImage: {
						path: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
						name: 'Blank',
					},
					initMenu: 'filter',
				},
			},
			edit_image: false,

			uploading: false,

			share_user: '',
			share_user_list: [],
		}
	},

	mixins: [
		AuthStatus,
	],

	components: {
		RstorageMenu,
		RstorageFileList,
		RstorageTextEditor,
		videoPlayer,
		ImageEditor,
	},

	methods: {
		handleSelect(index, index_path) {
			let depth = index_path.length
			if (depth == 2) {
				switch(index) {
					case "1-1": {
						this.open_dialog = true
						this.open_file_type = "rtxt"
						this.open_file_name = "NewFile"
						this.open_file = {
							name: "NewFile.rtxt",
							original_name: "NewFile.rtxt",
							date: null,
							id: 0
						}
					} break
					default: {
						this.uploading = true
					}
				}
			}
			else {
				if (index == '4') {
					this.list_type = 'shared'
					this.refetch = true
				}
				else if (index = '2') {
					this.list_type = 'recent'
					this.refetch = true
				}
			}
		},

		add() {
			let add_data = new FormData()

			if ('upload_stuff' in this.$refs) {
				this.$refs.upload_stuff.uploadFiles.forEach(function (file) {
					add_data.append('upload_thing', file.raw)
				})

				this.$backend_api.post(`user/add/`, add_data)
					.then(resp => {
						this.$message.success(`Uploaded Successfully`)
						this.$emit('added', resp.data)
						this.$emit('show', false)
						this.refetch = true
						this.uploading = false
					})
					.catch(err => {
						this.errors(err)
					})
			}
		},

		view_file(row) {
			this.open_file = row

			let {file, ext} = this.file_name_and_ext

			if (this.$extensions.includes(ext)) {
				this.open_dialog = true
				this.open_file_name = file
				if (ext == "rtxt")
					this.new_text_file = false
			}
		},

		check_file() {
			let {file, ext} = this.file_name_and_ext

			switch (ext) {
				case "pdf": {
					this.open_file_type = "pdf"
				} break
				case "mp4": {
					this.open_file_type = "video"
					this.player_options = {
						// muted: true,
						// language: 'en',
						playbackRates: [0.7, 1.0, 1.5, 2.0],
						sources: [{
						type: "video/mp4",
						src: `${this.file_base}/${this.open_file.name}`
						}],
					}
				} break
				case "rtxt": {
					this.open_file_type = "rtxt"
				} break
				default: {
					this.open_file_type = "image"
				} break
			}
			if (this.$extensions_image.includes(ext)) {
				this.open_file_type = "image"
			}
		},

		check_image_file() {

			this.$backend_api.patch(`file/${this.open_file.id}/lock/`)
			.then(result => {
				if (result.data.ok) {

					this.edit_image = true

					setTimeout(() => {
					if (this.open_file_type == "image") {
						let img_editor_root = this.$refs.tui_img_editor.getRootElement()

						let logo = img_editor_root.getElementsByClassName("tui-image-editor-header-logo")
						let download = img_editor_root.getElementsByClassName("tui-image-editor-download-btn")

						if (logo)
							logo[0].remove()

						if (download)
							download[0].remove()

						let container = img_editor_root.getElementsByClassName("tui-image-editor-header-buttons")
						let save_btn = document.createElement("button")
						save_btn.setAttribute("style", "background-color: #fdba3b;border: 1px solid #fdba3b;color: #fff;font-family: 'Noto Sans', sans-serif;font-size: 12px")
						save_btn.textContent = 'Save';
						save_btn.addEventListener("click", this.save_image)
						container[0].appendChild(save_btn)

						this.$refs.tui_img_editor.invoke('loadImageFromURL', `${this.file_base}/${this.open_file.name}`, this.open_file.original_name)
					}
					}, 200)
				}
				else {
					this.errors({"message": "could not find data."})
				}
			})
			.catch(err => {
				this.errors(err)
			})
		},

		reset_dialog() {
			this.new_text_file = true
			this.open_file_type = ''

			if (this.edit_image) {
				this.edit_image = false
				this.$backend_api.patch(`file/${this.open_file.id}/release_lock/`)
					.catch(err => {
						this.errors(err)
					})
			}
			this.open_file = {}
		},

		save_image() {
			let file = this.dataURLtoFile(this.$refs.tui_img_editor.invoke("toDataURL"), this.open_file.original_name)

			let image_data = new FormData()
			image_data.append('name', file)

			this.$backend_api.patch(`file/${this.open_file.id}/`, image_data)
				.then(resp => {
					this.$message.success(`Image Edited Successfully`)
					this.refetch = true
					this.edit_image = false
					this.open_file = resp.data
				})
				.catch(err => {
					this.errors(err)
				})
		},

		refetch_done() {
			this.refetch = false
		},

		search_select(val) {
			this.$backend_api.get(`user/?username__icontains=${val}`)
				.then(resp => {
					resp.data.forEach(item => {
						if (item.username != this.username)
							this.share_user_list.push(item)
					})
				})
				.catch(err => {
					this.errors(err)
				})
		},

		share_with_user() {
			let data = new FormData()
			data.append('user', this.share_user)
			data.append('filelist', this.open_file.id)
			data.append('shared', true)
			this.$backend_api.patch(`shared/${this.open_file.id}/`, data)
				.then(resp => {
					this.$message.success(`File shared successfully`)
				})
				.catch(err => {
					this.errors(err)
				})
		},

		// from https://github.com/nhn/toast-ui.vue-image-editor/issues/16#issuecomment-649516990
		dataURLtoFile(dataurl, filename) {
			let arr = dataurl.split(","),
			mime = arr[0].match(/:(.*?);/)[1],
			bstr = atob(arr[1]),
			n = bstr.length,
			u8arr = new Uint8Array(n)

			while (n--) {
				u8arr[n] = bstr.charCodeAt(n)
			}

			return new File([u8arr], filename, { type: mime })
		},
	},

	computed: {
		file_base() {
			return `${this.$backend_api.base_url}uploaded/`
		},

		file_name_and_ext() {
			let ext_place = this.open_file.original_name.lastIndexOf('.')
			let file = this.open_file.original_name.substr(0, ext_place)
			let ext = this.open_file.original_name.substr(ext_place + 1)
			return {file, ext}
		},

		username() {
			let token = this.$store.getters.get_decoded_token
			if (token.username) {
				return token.username
			}
			return false
		},
	},

	activated() {
		this.auth_status('home')
	},

}
</script>

<style>
html, body{
	margin: 0;
	padding: 0;
}
.main-container{
	padding: 10px;
}
.main-container .el-row--flex{
	margin: 10px 0;
}
</style>
