<template>
	<el-row type = 'flex' justify = '' align = 'center' class = 'set-height login-bg'>
		<el-col :span=10  class="logo-bg">
			<h1 style='color: white;'>rStorage</h1>
		</el-col>
		<el-col class="form-bg " :lg=14 :md=14 :sm=24 :xs=24>
			<el-form
				:model = 'credentials'
				ref = 'auth_form'>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item prop = 'username'>
							<el-input
								ref = 'focus'
								v-model = 'credentials.username'
								@keyup.native = 'check_key'
								placeholder = 'Username' />
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '6' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item prop = 'password'>
							<el-input
								v-model = 'credentials.password'
								type = 'password'
								@keyup.native = 'check_key'
								placeholder = 'Password' />
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '6' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item>
							<el-button style="width:100%;" @click = 'login' type="danger"> Login </el-button>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<div style = "text-align: center; margin: 10px; margin-top: 0;">or</div>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-button style="width:100%;" @click = '$router.replace({ name: "register" })'>Register</el-button>
					</el-col>
				</el-row>
			</el-form>
		</el-col>
	</el-row>
</template>

<script>
export default {
	data() {
		return {
			credentials: {
				username: '',
				password: '',
			}
		}
	},

	methods: {
		login() {
			this.$store.dispatch('obtain', {
				username: this.credentials.username,
				password: this.credentials.password,
			})
			.then(result => {
				if (typeof result['response'] !== 'undefined' || typeof result['message'] !== 'undefined') {
					let errors = ''
					if (typeof result['response'] !== 'undefined') {
						Object.entries(result.response.data).forEach(entry => {
							let key = entry[0], error = entry[1]
							if (typeof error == 'string')
								errors += key + " - " + error + '<br>'
							else
								for (let i in error)
									errors += key + " - " + error[i] + '<br>'
						})
					}
					else {
						errors = result.message
					}
				
					this.$message({
						type: 'error',
						dangerouslyUseHTMLString: true,
						message: errors
					})
				}
				else {
					if (this.$store.state.logged_in === true) {
						this.$message.success("Successfully Logged In")
						this.$router.replace({ name: this.get_route() })
					}
				}
			})
		},

		check_key(input) {
			if (input.key == 'Enter')
				this.login()
		},

		get_route() {
			let to = 'home'
			if ('to' in this.$route.params)
				to = this.$route.params.to
			return to
		},
	},

	beforeCreate() {
		this.$store.dispatch('inspect')
			.then(state => {
				if (state === true) {
					this.$message.success("Successfully Logged In")
					this.$router.replace({ name: this.get_route() })
				}
			})
	},

	mounted() {
		this.$refs.focus.focus()
	},
}
</script>

<style  scoped>
.login-bg{
	height: 100vh;
}
.logo-bg{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cc0000;
}
.logo{
	width: 50%;
	vertical-align: middle;
}
.form-bg{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
}
.form-bg .el-form{
	padding: 25px 0;
	width: 40%;
	border: 1px solid darkgray;
	border-radius: 3%;
	box-shadow: 0px 0px 20px 0px gray;
}
@media (max-width : 700px){
	.logo-bg{
		display: none;
	}
}
</style>
