<template>
	<el-row type = 'flex' justify = '' align = 'center' class = 'set-height login-bg'>
		<el-col :span=10  class="logo-bg">
			<h1 style='color: white;'>rStorage</h1>
		</el-col>

		<el-col class="form-bg " :lg=14 :md=14 :sm=24 :xs=24>
			<el-form ref="register_form" :rules = rules :model = "register_form" @submit.native.prevent = "submit_register_form">
				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item class="w-100" prop="first_name">
							<el-input placeholder="First Name" v-model= "register_form.first_name"></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item class="w-100" prop="last_name">
							<el-input placeholder="Last Name" v-model= "register_form.last_name"></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item class="w-100" prop="username">
							<el-input placeholder="Username" v-model= "register_form.username"></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item prop="email">
							<el-input placeholder="Email" v-model="register_form.email"></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item class="w-100" prop="password">
							<el-input type="password" placeholder="Password" v-model="register_form.password" show-password></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-form-item class="w-100" prop="password2">
							<el-input type="password" placeholder="Confirm Password" v-model="register_form.password2" show-password></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row type = 'flex' justify = 'center' align = 'middle'>
					<el-col :span = '12' class = 'el-col-xxs-20'
						:xs = '20' :sm = '20' :md = '20' :lg = '20'>
						<el-button native-type="submit" size="small">Submit</el-button>

						<el-button @click = '$router.replace({ name: "login" })' type="text">Already have an account?</el-button>
					</el-col>
				</el-row>

			</el-form>
		</el-col>
	</el-row>
</template>

<script>
export default {
	data () {
		return  {
			register_form : {
				first_name : '',
				last_name : '',
				username : '',
				email : '',
				password : '',
				password2 : '',
			},

			rules : {
				first_name : { required : true, trigger : 'blur',  message : "Field required" },
				last_name : { required : true, trigger : 'blur',  message : "Field required" },
				username : { required : true, trigger : 'blur',  message : "Field required" },
				email : { validator : (rule, value, callback) => {
					let regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
					if (value == '') {
						callback(new Error("Field required"))
					}
					else if (!regex.test(value)) {
						callback(new Error("Invalid email format"))
					} else callback()
				}, trigger : 'blur' },
				password : [
					{ required : true, trigger : 'blur',  message : "Field required" },
					{ min : 8, trigger : 'blur', message : "This field cannot be less than 8 characters"}
				],
				password2 : { validator : (rule, value, callback) => {
					if(value === ''){
						callback(new Error("Field required"))
					} else if(value !== this.register_form.password){
						callback(new Error("Passwords do not match"))
					} else callback();
				}, trigger : 'blur'},

			},
		}
	},

	methods : {
		submit_register_form(e) {
			let form = this.$refs.register_form
			form.validate((valid) => {
				if (valid) { 
					let form_data = form.model
					form_data.email = form_data.email.toLowerCase()

					this.$backend_api.post('register/', form.model)
					.then(res => {
						let data = res.data
						if (res.status == 200) {
							this.$message.success("Successfully registered")
						}
						setTimeout(() => {
							this.$router.replace({name: "login"})
						}, 500)
					})
					.catch( (err) => {
						this.errors(err)
					})
				} else {
					return false;
				}
			})
		},
	},
}
</script>

<style  scoped>
.login-bg{
	height: 100vh;
}
.logo-bg{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cc0000;
}
.logo{
	width: 50%;
	vertical-align: middle;
}
.form-bg{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
}
.form-bg .el-form{
	padding: 25px 0;
	width: 40%;
	border: 1px solid darkgray;
	border-radius: 3%;
	box-shadow: 0px 0px 20px 0px gray;
}
@media (max-width : 700px){
	.logo-bg{
		display: none;
	}
}
</style>
