<template>
	<div>
		testing socket:
		<div>
			connections : {{connections + 1}} | messages: {{messages}}
		</div>
		<div>
			** connections include the following visualized editor
		</div>
		
		<editor-content
			:editor = 'editor'
			class = 'editor__content'>
		</editor-content>

	</div>
</template>

<script>
import * as Y from 'yjs'
import { WebsocketProvider } from 'y-websocket'

import Document from '@tiptap/extension-document';
import Text from '@tiptap/extension-text';
import Paragraph from '@tiptap/extension-paragraph';
import Collaboration from '@tiptap/extension-collaboration'

import { Editor, EditorContent } from '@tiptap/vue-2'


export default {
	data() {
		return {
			connections: 0,
			messages: 0,
			editor: null,
		}
	},
	
	components: {
		EditorContent,
	},

	async mounted() {
		let on = true
		let num_editors = 100
		let num_messages = 200
		// The percentage of messages to be sent during connection
		let message_split = 0.5

		
		// let seed = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 2)
		// seed = [seed.slice(0, 2), "/", seed.slice(2)].join('')
		// seed = seed + ".rtxt"
		let seed = "0l/gwx0ntl3b9mulxr6a4pyvkn7bjvbieh.rtxt"

		// Get a connection for reader
		const ydoc_origin = new Y.Doc()
		let provider = new WebsocketProvider('ws://127.0.0.1:1234', seed, ydoc_origin)
		this.editor = new Editor({
			extensions: [
				Document,
				Text,
				Paragraph,
				Collaboration.configure({
					document: ydoc_origin,
				}),
			]
		})

		if (on) {
			let editors = []
			let conn_split = num_messages * message_split
			let after_split = num_messages - conn_split


			// helper functions
			const some_text = (length) => {
				var result           = '';
				var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789 ';
				var charactersLength = characters.length;
				for ( var i = 0; i < length; i++ ) {
					result += characters.charAt(Math.floor(Math.random() * charactersLength));
				}
				return result;
			}
			const wait = (time) => {
				return new Promise(resolve => setTimeout(resolve, time))
			}
			const write_content = async (editor) => {
				await wait(Math.random() * 1000)

				editor.commands.insertContent(`<p>${some_text(Math.floor(Math.random() * 100))}</p>`)
				this.messages += 1
			}
			// duplicate some editors for message sending
			const loc = (length) => {
				return Math.floor(Math.random() * length)
			}


			// establish connections
			for (let i = 0; i < num_editors; i++) {

				const ydoc = new Y.Doc()
				let provider = new WebsocketProvider('ws://127.0.0.1:1234', seed, ydoc)

				let editor = new Editor({
					extensions: [
						Document,
						Text,
						Paragraph,
						Collaboration.configure({
							document: ydoc,
						}),
					]
				})

				editors.push(editor)
				this.connections += 1


				if (conn_split > 0) {
					editor.commands.insertContent(`<p>${some_text(Math.floor(Math.random() * 1000))}</p>`)
					conn_split -= 1
					this.messages += 1
				}
			}

			for (let i = 0; i < after_split - num_editors; i++)
				editors.splice(loc(editors.length - 1), 0, editors[loc(editors.length - 1)])


			await Promise.all(editors.map(editor => write_content(editor)))
		}
	},
}

</script>