<template>
	<div>
		<el-table :data = 'filelist' @row-click = 'view_file'>
			<el-table-column
				prop = "date"
				label="Date"
				width="180"/>
			<el-table-column
				prop = "original_name"
				label="Name"/>
		</el-table>
	</div>
</template>

<script>
import AuthStatus from '../mixins/auth_status'

export default {
	props: {
		type: {
			type: String,
			required: true,
		},

		refetch: {
			type: Boolean,
			default: false,
		},
	},

	mixins: [
		AuthStatus,
	],

	data() {
		return {
			filelist: [],
		}
	},

	methods: {
		view_file(row) {
			this.$emit("view_file_e", row)
		},

		backend_call(list_type) {
			this.$backend_api.get(`${this.type}/`)
				.then(result => {
					this.filelist = result.data
				})
				.catch(error => {
					this.errors(error)
				})
		},
	},

	watch: {
		refetch: function(is_refetch) {
			if (is_refetch) {
				this.backend_call()
				this.$emit("refetch_done")
			}
		},
	},

	activated() {
		this.auth_status('filelist').then(state => {
			if (state) {
				this.backend_call()
			}
		})
	},
}

</script>