<template>
<div>
	<h2>{{ capitalize(page) }}</h2>

	<div
		v-if = '(list.length > 0 && "accepted" in list[0] && "viewed" in list[0])'
		style = 'width: 70%; margin-bottom: 4em; border: 1px solid #C0C4CC; background-color: #F2F6FC; border-radius: 4px; padding: 4px;'>
		<h2>State Colors</h2>
		<el-row :gutter = '10'>
			<el-col :span = '6' :xs = '12'>
				<div class = 'color-box sold'>Sold</div>
			</el-col>
			<el-col :span = '6' :xs = '12'>
				<div class = 'color-box accepted'>Accepted</div>
			</el-col>
			<el-col :span = '6' :xs = '12'>
				<div class = 'color-box declined'>Declined</div>
			</el-col>
			<el-col :span = '6' :xs = '12'>
				<div class = 'color-box partial-declined'>Partially Declined</div>
			</el-col>
		</el-row>
	</div>

	<el-row class="entity-container" :gutter = '10' >
		<el-col
			v-for = '(item, index) in list'
			:key = 'item.id'
			:span = '4' :xs = '12' :sm = '4' :lg = '4' :xl = '4' class = 'el-col-xxs-12'
			style = 'margin-bottom: 20px;'>

			<el-card
				shadow = 'hover'
				:body-style = '{ padding: "0px" }'
				:class = '
				("accepted" in item && "viewed" in item) ?
					(item.declined ||
						(item.request_features.every(r => r.declined == true) &&
						item.request_features.length > 0)
					) ?
						"declined" :
					(item.sold) ?
						"sold" :
					(item.accepted) ?
						"accepted" :
					(item.request_features.some(r => r.declined == true)) ?
						"partial-declined" :
					(item.viewed) ?
						"viewed" :
						"" :
				""'>
				<el-image
					v-if = 'has_pictures'
					:src = '`${resolved_image[index]}`'
					fit = 'cover'
					class = 'image'>
						<div slot="error" class="image-slot">
							<i class="el-icon-picture-outline"></i>
						</div>
				</el-image>

				<div style = 'padding: 14px;'>
					<div v-if = '"name" in item'>Name: {{ capitalize(item.name) }}</div>
					<div v-if = '"username" in item'>Username: {{ capitalize(item.username) }}</div>
					<div>ID: {{ item.id }}</div>

					<div class = 'bottom clearfix'>
						<el-button-group>
							<el-tooltip
								v-if = 'edit_enabled'
								effect = "dark"
								content = "Edit"
								placement = "top-start">
								<el-button
									@click = 'edit_item(item.id)'
									type = 'primary'
									icon = 'el-icon-edit'
									size = 'small' />
							</el-tooltip>

							<el-tooltip
								v-if = 'delete_enabled'
								effect = "dark"
								content = "Delete"
								placement = "top-start">
								<el-button
									@click = 'delete_item(item.id, index)'
									type = 'danger'
									icon = 'el-icon-delete'
									size = 'small' />
							</el-tooltip>

							<el-tooltip
								v-if = 'review_enabled'
								effect = "dark"
								content = "Review"
								placement = "top-start">
								<el-button
									@click = 'review_item(item)'
									icon = 'el-icon-view'
									size = 'small' />
							</el-tooltip>

							<el-tooltip
								v-if = 'purchase_view_enabled'
								effect = "dark"
								content = "View Purchase Requests"
								placement = "top-start">
								<el-button
									@click = 'redirect_to_pr(item)'
									icon = 'el-icon-view'
									size = 'small' />
							</el-tooltip>
						</el-button-group>
					</div>
				</div>
			</el-card>
		</el-col>
	</el-row>
</div>
</template>

<script>

export default {
	name: 'rstorage-list',

	props: {
		page: {
			type: String,
			required: true,
		},
		route: {
			type: String,
			required: true,
		},
		list: {
			type: Array,
			required: true,
		},
		view: {
			type: Object,
			required: true,
		},
		delete_enabled: {
			type: Boolean,
			required: false,
			default: true,
		},
		edit_enabled: {
			type: Boolean,
			required: false,
			default: true,
		},
		review_enabled: {
			type: Boolean,
			required: false,
			default: false,
		},
		purchase_view_enabled: {
			type: Boolean,
			required: false,
			default: false,
		},
	},

	methods: {
		edit_item(item) {
			this.$emit('edit', item)
		},

		delete_item(item, index) {
			let name = ("name" in this.list[index]) ? this.list[index].name : `item with id: ${this.list[index].id}`
			this.$msgbox.confirm(
				`This will permanently remove "${this.capitalize(name)}". Do you want to continue?`,
				'Delete Warning', {
				confirmButtonText: 'Yes',
				cancelButtonText: 'No',
				type: 'warning'
			}).then(() => {
				this.$backend_api.delete(`${this.route}/${item}/`)
					.then(result => {

						this.$emit('deleted', index)

						this.$message({
							type: 'success',
							message: `Deletion was successful.`
						})
					})
					.catch(error => {
						this.errors(error)
					})
			})
			.catch(() => {})
		},

		review_item(item) {
			this.$emit('review', item)
		},

		redirect_to_pr(user) {
			this.$router.push({ name: 'requests', params: { filter: `user=${user.id}` } })
		},
	},

	computed: {
		has_pictures() {
			if ("image" in this.list[0] || "image_en" in this.list[0] || "profile_image" in this.list[0])
				return true
			return false
		},

		image_base() {
			return `${this.$backend_api.base_url}uploaded/`
		},

		resolved_image() {
			let image = []
			this.list.forEach(item => {
				let image_name = 'image'
				if (this.page == 'banners' || this.route == 'single_slide' || this.route == 'single_carousel_column')
					image_name = 'image_en'
				else if (this.page == 'customer')
					image_name = 'profile_image'

				if (image_name in item) {
					if (typeof item[image_name] == 'string') {
						if (this.page == 'banners' || this.route == 'single_slide' || this.route == 'single_carousel_column')
							image.push(`${this.image_base}${item[image_name]}`)
						else
							image.push(`${this.image_base}${item[image_name]}`)
					}

					// Assuming lists of images always have positions
					else if (item[image_name] instanceof Array && item[image_name].length > 0 && 'position' in item[image_name][0]) {
						let positions = []
						item[image_name].forEach(img => {
							positions.push(img.position)
						})
						let first = positions.indexOf(Math.min(...positions))

						if (this.page == 'slides' || this.page == 'carousels')
							image.push(`${this.image_base}${item[image_name][first].image_en}`)
						else
							image.push(`${this.image_base}${item[image_name][first].image}`)
					}

					else {
						image.push(null)
					}
				}
			})
			return image
		}
	},
}
</script>

<style >
.entity-container{
	display: flex;
	flex-wrap: wrap;
}
.entity-container .el-card{
	height: 100%;
}
.entity-container .el-card__body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

</style>
