<template>
	<!-- :class="{ 'is-active': isActive ? isActive(): null }" -->
	<button
		class = 'menubar__button'
		@click = 'action'>
		<el-tooltip
			effect = 'dark'
			placement = 'top'
			:content = 'title'>
			<icon :name = 'icon' v-if='icon' />
			<span v-else>{{ title }}</span>
		</el-tooltip>
	</button>
</template>

<script>
import Icon from './Icon'

export default {
	components: {
		Icon,
	},

	props: {
		action: {
			type: Function,
			required: true,
		},

		title: {
			type: String,
			required: true,
		},

		icon: {
			type: String,
			default: null,
		},

		isActive: {
			type: Function,
			default: null,
		},
	},

}
</script>