<template>
	<div class = 'menubar'>
		<template v-for="(item, index) in items">
			<div class="divider" v-if="item.type === 'divider'" :key="index" />
			<menu-bar-item v-else :key="index" v-bind="item" />
		</template>
	</div>
</template>


<script>
import MenuBarItem from './MenuBarItem.vue'

export default {
	props: {
		editor: {
			type: Object,
			required: true,
		}
	},

	components: {
		MenuBarItem,
	},

	data() {
		return {
			items: [
				{
					action: () => this.editor.chain().focus().undo().run(),
					title: 'Undo',
					icon: 'undo',
				},
				{
					action: () => this.editor.chain().focus().redo().run(),
					title: 'Redo',
					icon: 'redo',
				},
				{
					action: () => this.editor.chain().focus().setParagraph().run(),
					title: 'Paragraph',
					icon: 'paragraph',
					isActive: () => this.editor.isActive('paragraph'),
				},
				{
					action: () => this.editor.chain().focus().toggleHeading({level: 1}).run(),
					title: "H1",
					isActive: () => this.editor.isActive('heading', {level: 1}),
				},
				{
					action: () => this.editor.chain().focus().toggleHeading({level: 2}).run(),
					title: "H2",
					isActive: () => this.editor.isActive('heading', {level: 2}),
				},
				{
					action: () => this.editor.chain().focus().toggleHeading({level: 3}).run(),
					title: "H3",
					isActive: () => this.editor.isActive('heading', {level: 3}),
				},
				{
					action: () => this.editor.chain().focus().toggleBold().run(),
					title: 'Bold',
					icon: 'bold',
					isActive: () => this.editor.isActive('bold'),
				},
				{
					action: () => this.editor.chain().focus().toggleItalic().run(),
					title: 'Italic',
					icon: 'italic',
					isActive: () => this.editor.isActive('italic'),
				},
				{
					action: () => this.editor.chain().focus().toggleUnderline().run(),
					title: 'Underline',
					icon: 'underline',
					isActive: () => this.editor.isActive('underline'),
				},
				{
					action: () => this.editor.chain().focus().toggleStrike().run(),
					title: 'Strike Through',
					icon: 'strike',
					isActive: () => this.editor.isActive('strike'),
				},
				{
					action: () => this.editor.chain().focus().toggleBulletList().run(),
					title: 'Unordered List',
					icon: 'ul',
					isActive: () => this.editor.isActive('bullet_list'),
				},
				{
					action: () => this.editor.chain().focus().toggleOrderedList().run(),
					title: 'Ordered List',
					icon: 'ol',
					isActive: () => this.editor.isActive('ordered_list'),
				},
				{
					action: () => this.editor.chain().focus().toggleBlockquote().run(),
					title: 'Blockquote',
					icon: 'quote',
					isActive: () => this.editor.isActive('blockquote'),
				},
				{
					action: () => this.editor.chain().focus().setHorizontalRule().run(),
					title: 'Line Seperation',
					icon: 'hr',
					isActive: () => this.editor.isActive('horizontal_rule'),
				},
				{
					action: () => this.addImage(),
					title: 'Add Image',
					icon: 'add_image',
				},
				{
					action: () => this.editor.chain().focus().insertTable().run(),
					title: 'Add Table',
					icon: 'table',
					isActive: () => this.editor.isActive('table'),
				},
				{
					action: () => this.editor.chain().focus().deleteTable().run(),
					title: 'Delete Table',
					icon: 'delete_table',
				},
				{
					action: () => this.editor.chain().focus().addColumnBefore().run(),
					title: 'Add Column Before',
					icon: 'add_col_before',
				},
				{
					action: () => this.editor.chain().focus().addColumnAfter().run(),
					title: 'Add Column After',
					icon: 'add_col_after',
				},
				{
					action: () => this.editor.chain().focus().deleteColumn().run(),
					title: 'Delete Column',
					icon: 'delete_col',
				},
				{
					action: () => this.editor.chain().focus().addRowBefore().run(),
					title: 'Add Row Before',
					icon: 'add_row_before',
				},
				{
					action: () => this.editor.chain().focus().addRowAfter().run(),
					title: 'Add Row After',
					icon: 'add_row_after',
				},
				{
					action: () => this.editor.chain().focus().deleteRow().run(),
					title: 'Delete Row',
					icon: 'delete_row',
				},
				{
					action: () => this.editor.chain().focus().mergeCells().run(),
					title: 'Merge Cells',
					icon: 'combine_cells',
				},
				{
					action: () => this.editor.chain().focus().toggleHeaderCell().run(),
					title: 'Header Cell',
					icon: 'heading_cell',
				},
			],

		}
	},

	methods: {
		addImage() {
			console.log("ADD IMAGE")
		}
	}
}
</script>