<template>
	<el-row type = 'flex' justify = 'end'>
		<div
			v-if = 'username'
			style = 'padding: 10px 12px; border: 1px solid #DCDFE6; border-radius: 8px 1px; margin: 0 10px; color: #606266;'>
			<span style = 'font-weight: 700'>{{username}}</span>
		</div>

		<el-button v-if = '!is_home' type='primary' @click = '$router.push("/")'>
			Home
		</el-button>

		<el-button type='primary' @click = 'logout'>
			Logout
		</el-button>
	</el-row>
</template>

<script>

export default {
	props: {
		is_home: {
			type: Boolean,
			required: false,
			default: false,
		}
	},

	methods: {
		logout() {
			this.$store.dispatch('logout')
				.then(logged_out => {
					if (logged_out) {
						this.$router.replace({ name: 'login', params: { to: 'home'} })
					}
				})
		},
	},

	computed: {
		username() {
			let token = this.$store.getters.get_decoded_token
			if (token.username) {
				return token.username
			}
			return false
		}
	},
}
</script>