<template>
	<div>
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; width: 0px; height: 0px; display: none;">
				<symbol viewBox="0 0 24 24" id="icon--add_col_after">
					<path d="M5 14a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm2.5 5.938a.937.937 0 1 0 0-1.875H6.25a.312.312 0 0 1-.313-.313V16.5a.937.937 0 1 0-1.875 0v1.25c0 .173-.14.313-.312.313H2.5a.937.937 0 1 0 0 1.875h1.25c.173 0 .313.14.313.312v1.25a.937.937 0 1 0 1.875 0v-1.25c0-.173.14-.313.312-.313H7.5zM16 19a3 3 0 0 0 6 0V5a3 3 0 0 0-6 0v14zm-2 0V5a5 5 0 0 1 10 0v14a5 5 0 0 1-10 0z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--add_col_before">
					<path d="M19 14a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm2.5 5.938a.937.937 0 1 0 0-1.875h-1.25a.312.312 0 0 1-.313-.313V16.5a.937.937 0 1 0-1.875 0v1.25c0 .173-.14.313-.312.313H16.5a.937.937 0 1 0 0 1.875h1.25c.173 0 .313.14.313.312v1.25a.937.937 0 1 0 1.875 0v-1.25c0-.173.14-.313.312-.313h1.25zM2 19a3 3 0 0 0 6 0V5a3 3 0 1 0-6 0v14zm-2 0V5a5 5 0 1 1 10 0v14a5 5 0 0 1-10 0z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--add_row_after">
					<path d="M19 0a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm2.5 5.938a.937.937 0 1 0 0-1.875h-1.25a.312.312 0 0 1-.313-.313V2.5a.937.937 0 1 0-1.875 0v1.25c0 .173-.14.313-.312.313H16.5a.937.937 0 1 0 0 1.875h1.25c.173 0 .313.14.313.312V7.5a.937.937 0 1 0 1.875 0V6.25c0-.173.14-.313.312-.313h1.25zM5 16a3 3 0 0 0 0 6h14a3 3 0 0 0 0-6H5zm0-2h14a5 5 0 0 1 0 10H5a5 5 0 0 1 0-10z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--add_row_before">
					<path d="M19 14a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm2.5 5.938a.937.937 0 1 0 0-1.875h-1.25a.312.312 0 0 1-.313-.313V16.5a.937.937 0 1 0-1.875 0v1.25c0 .173-.14.313-.312.313H16.5a.937.937 0 1 0 0 1.875h1.25c.173 0 .313.14.313.312v1.25a.937.937 0 1 0 1.875 0v-1.25c0-.173.14-.313.312-.313h1.25zM5 2a3 3 0 1 0 0 6h14a3 3 0 0 0 0-6H5zm0-2h14a5 5 0 0 1 0 10H5A5 5 0 1 1 5 0z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--bold">
					<path d="M17.194 10.962A6.271 6.271 0 0 0 12.844.248H4.3a1.25 1.25 0 0 0 0 2.5h1.013a.25.25 0 0 1 .25.25V21a.25.25 0 0 1-.25.25H4.3a1.25 1.25 0 1 0 0 2.5h9.963a6.742 6.742 0 0 0 2.93-12.786zm-4.35-8.214a3.762 3.762 0 0 1 0 7.523H8.313a.25.25 0 0 1-.25-.25V3a.25.25 0 0 1 .25-.25zm1.42 18.5H8.313a.25.25 0 0 1-.25-.25v-7.977a.25.25 0 0 1 .25-.25h5.951a4.239 4.239 0 0 1 0 8.477z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--checklist">
					<path d="M21 0H3a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm1 21a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1z"></path>
					<path d="M11.249 4.5a1.251 1.251 0 0 0-1.75.25L7.365 7.6l-.482-.481a1.25 1.25 0 0 0-1.767 1.764l1.5 1.5a1.262 1.262 0 0 0 1.884-.134l3-4a1.25 1.25 0 0 0-.251-1.749zm0 9a1.251 1.251 0 0 0-1.75.25L7.365 16.6l-.482-.481a1.25 1.25 0 1 0-1.767 1.768l1.5 1.5a1.265 1.265 0 0 0 1.884-.138l3-4a1.25 1.25 0 0 0-.251-1.749zM18.5 7.749H14a1.25 1.25 0 0 0 0 2.5h4.5a1.25 1.25 0 0 0 0-2.5zm0 8H14a1.25 1.25 0 0 0 0 2.5h4.5a1.25 1.25 0 1 0 0-2.5z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--code">
					<path d="M9.147 21.552a1.244 1.244 0 0 1-.895-.378L.84 13.561a2.257 2.257 0 0 1 0-3.125l7.412-7.613a1.25 1.25 0 0 1 1.791 1.744l-6.9 7.083a.5.5 0 0 0 0 .7l6.9 7.082a1.25 1.25 0 0 1-.9 2.122zm5.707 0a1.25 1.25 0 0 1-.9-2.122l6.9-7.083a.5.5 0 0 0 0-.7l-6.9-7.082a1.25 1.25 0 0 1 1.791-1.744l7.411 7.612a2.257 2.257 0 0 1 0 3.125l-7.412 7.614a1.244 1.244 0 0 1-.89.38zm6.514-9.373z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--combine_cells">
					<path d="M2 19a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5a3 3 0 0 0-3 3v14zm-2 0V5a5 5 0 0 1 5-5h14a5 5 0 0 1 5 5v14a5 5 0 0 1-5 5H5a5 5 0 0 1-5-5zm12-9a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm0 6a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1zm0-13a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V4a1 1 0 0 1 1-1z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--delete_col">
					<path d="M12.641 21.931a7.01 7.01 0 0 0 1.146 1.74A5 5 0 0 1 7 19V5a5 5 0 1 1 10 0v7.29a6.972 6.972 0 0 0-2 .965V5a3 3 0 0 0-6 0v14a3 3 0 0 0 3.641 2.931zM19 14a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm-2.5 5.938h5a.937.937 0 1 0 0-1.875h-5a.937.937 0 1 0 0 1.875z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--delete_row">
					<path d="M13.255 15a6.972 6.972 0 0 0-.965 2H5A5 5 0 0 1 5 7h14a5 5 0 0 1 4.671 6.787 7.01 7.01 0 0 0-1.74-1.146A3 3 0 0 0 19 9H5a3 3 0 0 0 0 6h8.255zM19 14a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm-2.5 5.938h5a.937.937 0 1 0 0-1.875h-5a.937.937 0 1 0 0 1.875z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--delete_table">
					<path d="M19 14a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm-2.5 5.938h5a.937.937 0 1 0 0-1.875h-5a.937.937 0 1 0 0 1.875zM12.29 17H9v5h3.674c.356.75.841 1.426 1.427 2H5a5 5 0 0 1-5-5V5a5 5 0 0 1 5-5h14a5 5 0 0 1 5 5v2.823a.843.843 0 0 1 0 .354V14.1a7.018 7.018 0 0 0-2-1.427V9h-5v3.29a6.972 6.972 0 0 0-2 .965V9H9v6h4.255a6.972 6.972 0 0 0-.965 2zM17 7h5V5a3 3 0 0 0-3-3h-2v5zm-2 0V2H9v5h6zM7 2H5a3 3 0 0 0-3 3v2h5V2zM2 9v6h5V9H2zm0 8v2a3 3 0 0 0 3 3h2v-5H2z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--hr">
					<path d="M5 13a1 1 0 0 1 0-2h14a1 1 0 0 1 0 2H5z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--italic">
					<path d="M22.5.248h-7.637a1.25 1.25 0 0 0 0 2.5h1.086a.25.25 0 0 1 .211.384L4.78 21.017a.5.5 0 0 1-.422.231H1.5a1.25 1.25 0 0 0 0 2.5h7.637a1.25 1.25 0 0 0 0-2.5H8.051a.25.25 0 0 1-.211-.384L19.22 2.98a.5.5 0 0 1 .422-.232H22.5a1.25 1.25 0 0 0 0-2.5z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--link">
					<path d="M12.406 14.905a1 1 0 0 0-.543 1.307 1 1 0 0 1-.217 1.09l-2.828 2.829a2 2 0 0 1-2.828 0L3.868 18.01a2 2 0 0 1 0-2.829L6.7 12.353a1.013 1.013 0 0 1 1.091-.217 1 1 0 0 0 .763-1.849 3.034 3.034 0 0 0-3.268.652l-2.832 2.828a4.006 4.006 0 0 0 0 5.657l2.122 2.121a4 4 0 0 0 5.656 0l2.829-2.828a3.008 3.008 0 0 0 .651-3.27 1 1 0 0 0-1.306-.542z"></path>
					<path d="M7.757 16.241a1.011 1.011 0 0 0 1.414 0l7.779-7.778a1 1 0 0 0-1.414-1.414l-7.779 7.778a1 1 0 0 0 0 1.414z"></path>
					<path d="M21.546 4.574l-2.121-2.121a4.006 4.006 0 0 0-5.657 0l-2.829 2.828a3.006 3.006 0 0 0-.651 3.269 1 1 0 1 0 1.849-.764 1 1 0 0 1 .217-1.086l2.828-2.828a2 2 0 0 1 2.829 0l2.121 2.121a2 2 0 0 1 0 2.829L17.3 11.645a1.015 1.015 0 0 1-1.091.217 1 1 0 0 0-.765 1.849 3.026 3.026 0 0 0 3.27-.651l2.828-2.828a4.007 4.007 0 0 0 .004-5.658z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--ol">
					<path d="M7.75 4.5h15a1 1 0 0 0 0-2h-15a1 1 0 0 0 0 2zm15 6.5h-15a1 1 0 1 0 0 2h15a1 1 0 0 0 0-2zm0 8.5h-15a1 1 0 0 0 0 2h15a1 1 0 0 0 0-2zM2.212 17.248a2 2 0 0 0-1.933 1.484.75.75 0 1 0 1.45.386.5.5 0 1 1 .483.63.75.75 0 1 0 0 1.5.5.5 0 1 1-.482.635.75.75 0 1 0-1.445.4 2 2 0 1 0 3.589-1.648.251.251 0 0 1 0-.278 2 2 0 0 0-1.662-3.111zm2.038-6.5a2 2 0 0 0-4 0 .75.75 0 0 0 1.5 0 .5.5 0 0 1 1 0 1.031 1.031 0 0 1-.227.645L.414 14.029A.75.75 0 0 0 1 15.248h2.5a.75.75 0 0 0 0-1.5h-.419a.249.249 0 0 1-.195-.406L3.7 12.33a2.544 2.544 0 0 0 .55-1.582zM4 5.248h-.25A.25.25 0 0 1 3.5 5V1.623A1.377 1.377 0 0 0 2.125.248H1.5a.75.75 0 0 0 0 1.5h.25A.25.25 0 0 1 2 2v3a.25.25 0 0 1-.25.25H1.5a.75.75 0 0 0 0 1.5H4a.75.75 0 0 0 0-1.5z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--paragraph">
					<path d="M22.5.248H7.228a6.977 6.977 0 1 0 0 13.954h2.318a.25.25 0 0 1 .25.25V22.5a1.25 1.25 0 0 0 2.5 0V3a.25.25 0 0 1 .25-.25h3.682a.25.25 0 0 1 .25.25v19.5a1.25 1.25 0 0 0 2.5 0V3a.249.249 0 0 1 .25-.25H22.5a1.25 1.25 0 0 0 0-2.5zM9.8 11.452a.25.25 0 0 1-.25.25H7.228a4.477 4.477 0 1 1 0-8.954h2.318A.25.25 0 0 1 9.8 3z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--quote">
					<path d="M18.559 3.932a4.942 4.942 0 1 0 0 9.883 4.609 4.609 0 0 0 1.115-.141.25.25 0 0 1 .276.368 6.83 6.83 0 0 1-5.878 3.523 1.25 1.25 0 0 0 0 2.5 9.71 9.71 0 0 0 9.428-9.95V8.873a4.947 4.947 0 0 0-4.941-4.941zm-12.323 0a4.942 4.942 0 0 0 0 9.883 4.6 4.6 0 0 0 1.115-.141.25.25 0 0 1 .277.368 6.83 6.83 0 0 1-5.878 3.523 1.25 1.25 0 0 0 0 2.5 9.711 9.711 0 0 0 9.428-9.95V8.873a4.947 4.947 0 0 0-4.942-4.941z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--redo">
					<path d="M22.608.161a.5.5 0 0 0-.545.108L19.472 2.86a.25.25 0 0 1-.292.045 12.537 12.537 0 0 0-12.966.865A12.259 12.259 0 0 0 6.1 23.632a1.25 1.25 0 0 0 1.476-2.018 9.759 9.759 0 0 1 .091-15.809 10 10 0 0 1 9.466-1.1.25.25 0 0 1 .084.409l-1.85 1.85a.5.5 0 0 0 .354.853h6.7a.5.5 0 0 0 .5-.5V.623a.5.5 0 0 0-.313-.462z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--remove">
					<path d="M20.485 3.511A12.01 12.01 0 1 0 24 12a12.009 12.009 0 0 0-3.515-8.489zm-1.767 15.21A9.51 9.51 0 1 1 21.5 12a9.508 9.508 0 0 1-2.782 6.721z"></path>
					<path d="M16.987 7.01a1.275 1.275 0 0 0-1.8 0l-3.177 3.177L8.829 7.01a1.277 1.277 0 0 0-1.805 1.806l3.176 3.177-3.176 3.178a1.277 1.277 0 0 0 1.805 1.806l3.176-3.177 3.177 3.178a1.277 1.277 0 0 0 1.8-1.806l-3.176-3.178 3.176-3.177a1.278 1.278 0 0 0 .005-1.807z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--strike">
					<path d="M23.75 12.952A1.25 1.25 0 0 0 22.5 11.7h-8.936a.492.492 0 0 1-.282-.09c-.722-.513-1.482-.981-2.218-1.432-2.8-1.715-4.5-2.9-4.5-4.863 0-2.235 2.207-2.569 3.523-2.569a4.54 4.54 0 0 1 3.081.764 2.662 2.662 0 0 1 .447 1.99v.3a1.25 1.25 0 1 0 2.5 0v-.268a4.887 4.887 0 0 0-1.165-3.777C13.949.741 12.359.248 10.091.248c-3.658 0-6.023 1.989-6.023 5.069 0 2.773 1.892 4.512 4 5.927a.25.25 0 0 1-.139.458H1.5a1.25 1.25 0 0 0 0 2.5h10.977a.251.251 0 0 1 .159.058 4.339 4.339 0 0 1 1.932 3.466c0 3.268-3.426 3.522-4.477 3.522-1.814 0-3.139-.405-3.834-1.173a3.394 3.394 0 0 1-.65-2.7 1.25 1.25 0 0 0-2.488-.246A5.76 5.76 0 0 0 4.4 21.753c1.2 1.324 3.114 2 5.688 2 4.174 0 6.977-2.42 6.977-6.022a6.059 6.059 0 0 0-.849-3.147.25.25 0 0 1 .216-.377H22.5a1.25 1.25 0 0 0 1.25-1.255z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--table">
					<path fill-rule="evenodd" d="M17 17v5h2a3 3 0 0 0 3-3v-2h-5zm-2 0H9v5h6v-5zm2-2h5V9h-5v6zm-2 0V9H9v6h6zm2-8h5V5a3 3 0 0 0-3-3h-2v5zm-2 0V2H9v5h6zm9 9.177V19a5 5 0 0 1-5 5H5a5 5 0 0 1-5-5V5a5 5 0 0 1 5-5h14a5 5 0 0 1 5 5v2.823a.843.843 0 0 1 0 .354v7.646a.843.843 0 0 1 0 .354zM7 2H5a3 3 0 0 0-3 3v2h5V2zM2 9v6h5V9H2zm0 8v2a3 3 0 0 0 3 3h2v-5H2z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--ul">
					<circle cx="2.5" cy="3.998" r="2.5"></circle>
					<path d="M8.5 5H23a1 1 0 0 0 0-2H8.5a1 1 0 0 0 0 2z"></path>
					<circle cx="2.5" cy="11.998" r="2.5"></circle>
					<path d="M23 11H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2z"></path>
					<circle cx="2.5" cy="19.998" r="2.5"></circle>
					<path d="M23 19H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--underline">
					<path d="M22.5 21.248h-21a1.25 1.25 0 0 0 0 2.5h21a1.25 1.25 0 0 0 0-2.5zM1.978 2.748h1.363a.25.25 0 0 1 .25.25v8.523a8.409 8.409 0 0 0 16.818 0V3a.25.25 0 0 1 .25-.25h1.363a1.25 1.25 0 0 0 0-2.5H16.3a1.25 1.25 0 0 0 0 2.5h1.363a.25.25 0 0 1 .25.25v8.523a5.909 5.909 0 0 1-11.818 0V3a.25.25 0 0 1 .25-.25H7.7a1.25 1.25 0 1 0 0-2.5H1.978a1.25 1.25 0 0 0 0 2.5z"></path>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--undo">
					<path d="M17.786 3.77a12.542 12.542 0 0 0-12.965-.865.249.249 0 0 1-.292-.045L1.937.269A.507.507 0 0 0 1.392.16a.5.5 0 0 0-.308.462v6.7a.5.5 0 0 0 .5.5h6.7a.5.5 0 0 0 .354-.854L6.783 5.115a.253.253 0 0 1-.068-.228.249.249 0 0 1 .152-.181 10 10 0 0 1 9.466 1.1 9.759 9.759 0 0 1 .094 15.809 1.25 1.25 0 0 0 1.473 2.016 12.122 12.122 0 0 0 5.013-9.961 12.125 12.125 0 0 0-5.127-9.9z"></path>
				</symbol>
				<symbol viewBox="0 0 512 512" id="icon--center">
					<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
						<path d="M550 4555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M1060 3555 l0 -225 1500 0 1500 0 0 225 0 225 -1500 0 -1500 0 0 -225z"/>
						<path d="M1560 2555 l0 -225 1000 0 1000 0 0 225 0 225 -1000 0 -1000 0 0 -225z"/>
						<path d="M560 1555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M1060 555 l0 -225 1500 0 1500 0 0 225 0 225 -1500 0 -1500 0 0 -225z"/>
					</g>
				</symbol>
				<symbol viewBox="0 0 512 512" id="icon--left">
					<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
						<path d="M550 4555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M550 3555 l0 -225 1500 0 1500 0 0 225 0 225 -1500 0 -1500 0 0 -225z"/>
						<path d="M550 2555 l0 -225 1000 0 1000 0 0 225 0 225 -1000 0 -1000 0 0 -225z"/>
						<path d="M560 1555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M550 555 l0 -225 1500 0 1500 0 0 225 0 225 -1500 0 -1500 0 0 -225z"/>
					</g>
				</symbol>
				<symbol viewBox="0 0 512 512" id="icon--right">
					<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
						<path d="M550 4550 l0 -230 2005 0 2005 0 0 230 0 230 -2005 0 -2005 0 0 -230z"/>
						<path d="M1550 3550 l0 -230 1505 0 1505 0 0 230 0 230 -1505 0 -1505 0 0 -230z"/>
						<path d="M2550 2550 l0 -230 1005 0 1005 0 0 230 0 230 -1005 0 -1005 0 0 -230z"/>
						<path d="M550 1550 l0 -230 2005 0 2005 0 0 230 0 230 -2005 0 -2005 0 0 -230z"/>
						<path d="M1550 550 l0 -230 1505 0 1505 0 0 230 0 230 -1505 0 -1505 0 0 -230z"/>
					</g>
				</symbol>
				<symbol viewBox="0 0 512 512" id="icon--justify">
					<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
						<path d="M550 4555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M550 3555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M550 2555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M550 1555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
						<path d="M550 555 l0 -225 2000 0 2000 0 0 225 0 225 -2000 0 -2000 0 0 -225z"/>
					</g>
				</symbol>
				<symbol viewBox="0 0 1000 1000" id="icon--font-size">
					<path d="M90.1 887.7c23.400000000000006-63 46.80000000000001-126.10000000000002 70.30000000000001-189 71-190.00000000000006 142.1-379.90000000000003 212.9-569.9000000000001 2.8999999999999773-7.899999999999949 6.199999999999989-11.099999999999952 15.199999999999989-10.999999999999957 46.39999999999998 0.6000000000000085 92.89999999999998 0.5 139.29999999999995 0.10000000000000853 7.900000000000091-0.10000000000000853 11.100000000000023 2.5 13.800000000000068 9.799999999999997 67.5 181 135.10000000000002 361.8 202.79999999999995 542.8 1.3000000000000682 3.5 1.3999999999999773 7.7000000000000455 5.800000000000068 10.799999999999955 10-26.199999999999932 19.699999999999932-51.89999999999998 29.5-77.59999999999991 6.5-17.200000000000045 13.199999999999932-34.30000000000007 19.399999999999977-51.60000000000002 2.1000000000000227-5.899999999999977 5-8.300000000000068 11.600000000000023-8.100000000000023 17.59999999999991 0.5 35.299999999999955 0.7000000000000455 52.89999999999998-0.10000000000002274 8.199999999999932-0.2999999999999545 10.899999999999977 3.1000000000000227 13.5 10.100000000000023 39.299999999999955 105.89999999999998 78.89999999999998 211.70000000000005 118.39999999999998 317.4 1.2999999999999545 3.3999999999999773 3 6.5 4.399999999999977 9.800000000000068-0.10000000000002274 3.599999999999909 1.3999999999999773 7-5.399999999999977 6.7999999999999545-19.799999999999955-0.7999999999999545-39.60000000000002-0.2999999999999545-59.39999999999998-0.2999999999999545-8-23.800000000000068-16.200000000000045-47.60000000000002-23.800000000000068-71.5-2.099999999999909-6.300000000000068-4.899999999999977-9.100000000000023-12.099999999999909-9-31.300000000000068 0.5-62.5 0.5-93.80000000000007 0-8.799999999999955-0.10000000000002274-9.299999999999955 2.3999999999999773-6.5 9.799999999999955 9 23.5 17.399999999999977 47.10000000000002 26 70.70000000000005h-209.60000000000002c-14.599999999999909-43.200000000000045-29.299999999999955-86.40000000000009-43.5-129.70000000000005-2.2999999999999545-7.2000000000000455-5.699999999999932-9.100000000000023-13-9.100000000000023-82.49999999999994 0.3000000000000682-164.99999999999994 0.3000000000000682-247.49999999999994 0-8.5-0.10000000000002274-11.600000000000023 3-14.199999999999989 10.5-14.700000000000045 42.89999999999998-29.900000000000034 85.5-44.900000000000034 128.30000000000007h-162.1z m345.70000000000005-557.3000000000001c-1.7000000000000455 3.3000000000000114-2.300000000000068 4.2000000000000455-2.6000000000000796 5.100000000000023-27.80000000000001 85.39999999999998-55.39999999999998 170.89999999999998-83.39999999999998 256.29999999999995-3 9.100000000000023 2.099999999999966 8.400000000000091 7.899999999999977 8.300000000000068 50.80000000000001-0.10000000000002274 101.5-0.3000000000000682 152.2 0 9 0 10.700000000000045-1.7000000000000455 7.899999999999977-10.600000000000023-19.399999999999977-59.799999999999955-38.19999999999993-119.80000000000001-57.099999999999966-179.7-8.199999999999989-25.600000000000023-16.099999999999966-51.30000000000001-24.899999999999977-79.40000000000003z m402.4999999999999 275.9c-0.8999999999999773 0.10000000000002274-1.7999999999999545 0.20000000000004547-2.699999999999932 0.3000000000000682-17.700000000000045 49.799999999999955-35.30000000000007 99.69999999999993-53.10000000000002 149.39999999999998-2.6000000000000227 7.399999999999977 1.8999999999999773 6.7999999999999545 6.399999999999977 6.7999999999999545 31.700000000000045-0.09999999999990905 63.39999999999998-0.2999999999999545 95.10000000000002 0 6.7000000000000455 0 7.899999999999977-1.6999999999999318 5.600000000000023-7.7999999999999545-7.7000000000000455-21.700000000000045-15.100000000000023-43.5-22.600000000000023-65.29999999999995-9.5-27.800000000000068-19.100000000000023-55.60000000000002-28.700000000000045-83.40000000000009z m-817.4 281.4000000000001c-21.99999999999998-11.200000000000045-25.099999999999977-19.700000000000045-16.299999999999976-43.200000000000045 88.30000000000001-236 176.70000000000002-472.1 265-708.1 0.7999999999999545-2.099999999999966 1.5-4.099999999999966 2.2999999999999545-6.099999999999966 5.900000000000034-14.200000000000017 19.400000000000034-21.10000000000001 31.900000000000034-16.30000000000001 14.5 5.5 20.69999999999999 19 15.099999999999966 34.30000000000001-11.399999999999977 31-23.099999999999966 62-34.69999999999999 93-77.19999999999999 206.09999999999997-154.39999999999998 412.2-231.29999999999998 618.5-4.900000000000006 13.200000000000045-10.700000000000003 24.40000000000009-25.500000000000007 27.90000000000009-2.1999999999999993 0-4.299999999999997 0-6.5 0z"/>
				</symbol>
				<symbol viewBox="0 0 24 24" id="icon--font">
					<path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 9 3 C 9 3 7.7912483 2.9862118 6.5527344 3.6054688 C 5.3142205 4.2247256 4 5.6666667 4 8 L 6 8 C 6 6.3333333 6.6857795 5.7752743 7.4472656 5.3945312 C 8.2087517 5.0137882 9 5 9 5 L 11.638672 5 L 9.7636719 11 L 7 11 L 7 13 L 9.1386719 13 L 7.921875 16.894531 C 7.5290522 18.151263 6.3754509 19 5.0585938 19 L 4 19 L 4 21 L 5.0585938 21 C 7.2417365 21 9.1808541 19.575455 9.8320312 17.492188 L 11.236328 13 L 14 13 L 14 11 L 11.861328 11 L 13.736328 5 L 20 5 L 20 3 L 9 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path>
				</symbol>

				<symbol width = '14' height = '14' viewBox = '0 0 58 58' id="icon--add_image">
					<path d = 'M57 6H1a1 1 0 0 0-1 1v44c0 .6.4 1 1 1h56c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1zm-1 44H2V8h54v42z' />
					<path d = 'M16 28.1A5.6 5.6 0 1 0 16 17 5.6 5.6 0 0 0 16 28zm0-9.1a3.6 3.6 0 1 1 0 7.1 3.6 3.6 0 0 1 0-7.1zM7 46c.2 0 .5 0 .7-.2L24 31.4l10.3 10.3a1 1 0 1 0 1.4-1.4l-4.8-4.8 9.2-10 11.2 10.2a1 1 0 0 0 1.4-1.4l-12-11a1 1 0 0 0-1.4 0l-9.8 10.8-4.8-4.8a1 1 0 0 0-1.3 0l-17 15A1 1 0 0 0 7 46z' />
				</symbol>
			</svg>
		</div>


		<el-dialog
			title = 'Add Image'
			:visible.sync = 'show_image'
			width = '85%'
			append-to-body>
			<el-tabs>
				<el-tab-pane label = 'Link'>
					<el-input
						v-model = 'image_source'
						placeholder = 'Add Link' />
				</el-tab-pane>

				<el-tab-pane label = 'Upload'>
					<el-upload
						:on-change = 'upload_local_image'
						:auto-upload = 'false'
						:multiple = 'false'
						:limit = '1'
						action = ''
						ref = 'upload'
						drag>
						<i class="el-icon-upload"></i>
						<div class="el-upload__text">Drop file here or <em>click to upload</em></div>
					</el-upload>
				</el-tab-pane>
			</el-tabs>
			<el-button
				@click.prevent = 'upload_image'
				type = 'success'
				:disabled = '!valid_image'>
				Add Image
			</el-button>
		</el-dialog>


		<div class = 'editor' v-if = 'editor'>	
			<menu-bar class = 'menubar' :editor = 'editor' />

			<editor-content
				:editor = 'editor'
				class = 'editor__content'>
			</editor-content>
			<span v-if = "status == 'connected'">
				{{ users.length }} user{{ users.length === 1 ? '' : 's' }}
			</span>
		</div>

		<el-form
			ref = 'file_form'
			label-width = '120px'>
			<el-form-item>
				<el-input v-model = 'file_name' />
			</el-form-item>

			<el-form-item>
				<el-button @click = "save">Save</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
import MenuBar from './MenuBar'
import { Editor, EditorContent, FloatingMenu, BubbleMenu } from '@tiptap/vue-2'

import Document from '@tiptap/extension-document';
import Text from '@tiptap/extension-text';
import Paragraph from '@tiptap/extension-paragraph';

import Heading from '@tiptap/extension-heading'
import HardBreak from '@tiptap/extension-hard-break'
import Bold from '@tiptap/extension-bold'
import Italic from '@tiptap/extension-italic'
import Table from '@tiptap/extension-table'
import TableHeader from '@tiptap/extension-table-header'
import TableCell from '@tiptap/extension-table-cell'
import TableRow from '@tiptap/extension-table-row'
import Underline from '@tiptap/extension-underline'
import Strike from '@tiptap/extension-strike'
import OrderedList from '@tiptap/extension-ordered-list'
import BulletList from '@tiptap/extension-bullet-list'
import ListItem from '@tiptap/extension-list-item'
import Blockquote from '@tiptap/extension-blockquote'
import History from '@tiptap/extension-history'
import Link from '@tiptap/extension-link'
import HorizontalRule from '@tiptap/extension-horizontal-rule'
import Image from '@tiptap/extension-image'
import Collaboration from '@tiptap/extension-collaboration'
import CollaborationCursor from '@tiptap/extension-collaboration-cursor'



import Alignment from './tiptap_custom/Alignment'
import FontFamily from './tiptapPluginsSaloustrosm/FontFamily.js'
import FontSize from './tiptapPluginsSaloustrosm/FontSize.js'
import FontFillColor from './tiptapPluginsSaloustrosm/FontFillColor.js'
import FontTextColor from './tiptapPluginsSaloustrosm/FontTextColor.js'

import * as Y from 'yjs'
import { WebsocketProvider } from 'y-websocket'
import { IndexeddbPersistence } from 'y-indexeddb'

const getRandomElement = list => {
	return list[Math.floor(Math.random() * list.length)]
}

export default {
	components: {
		MenuBar,

		EditorContent,

		FloatingMenu,
		BubbleMenu,
	},

	props: {
		content: {
			type: String,
			required: false,
			default: null,
		},

		new: {
			type: Boolean,
			default: true,
		},

		file: {
			type: Object,
			required: true,
		},
	},

	data() {
		return {
			file_name: '',
			editor: null,
			provider: null,
			currentUser: JSON.parse(localStorage.getItem('currentUser')) || {
				name: this.getRandomName(),
				color: this.getRandomColor(),
			},
			status: 'connecting',
			indexdb: null,
			users: [],

			linkMenuIsActive: false,
			linkUrl: null,
			show_image: false,
			image_source: '',
			command: null,

			font_size: 14,
			text_color: 'rgba(0, 0, 0, 1)',
			text_background_color: 'rgba(0, 0, 0, 1)',

			rand_seed: '',
		}
	},

	methods: {
		showLinkMenu(attrs) {
			this.linkUrl = attrs.href
			this.linkMenuIsActive = true
			this.$nextTick(() => {
				this.$refs.linkInput.focus()
			})
		},

		change_font_size(command) {
			command({ fontSize: this.font_size + 'px' })
			this.$refs.font_size_input.focus()
		},

		hideLinkMenu() {
			this.linkUrl = null
			this.linkMenuIsActive = false
		},

		setLinkUrl(command, url) {
			command({ href: url })
			this.hideLinkMenu()
			this.editor.focus()
		},

		image_upload(command) {
			this.show_image = true
			this.command = command
		},

		upload_local_image(file) {
			let image_form = new FormData()
			image_form.append('image', file.raw)
			this.$backend_api.post('image/', image_form)
				.then(result => {
					this.image_source = result.data.image
				})
				.catch(error => {
					this.errors(error)
				})
		},

		upload_image() {
			const image_source = (this.image_source.includes('http://') || this.image_source.includes('https://') ?
								this.image_source :
								`${this.$backend_api.base_url}uploaded/${this.image_source}`)
			this.command({
				src: image_source
			})
			this.show_image = false
		},

		getRandomColor() {
			return getRandomElement([
				'#958DF1', '#F98181', '#FBBC88',
				'#FAF594', '#70CFF8', '#94FADB', '#B9F18D',
			])
		},

		getRandomName() {
			return getRandomElement([
				'Lea Thompson', 'Cyndi Lauper', 'Tom Cruise',
				'Madonna', 'Jerry Hall', 'Joan Collins', 'Winona Ryder',
				'Christina Applegate', 'Alyssa Milano', 'Molly Ringwald',
				'Ally Sheedy', 'Debbie Harry', 'Olivia Newton-John',
				'Elton John', 'Michael J. Fox', 'Axl Rose', 'Emilio Estevez',
				'Ralph Macchio', 'Rob Lowe', 'Jennifer Grey', 'Mickey Rourke',
				'John Cusack', 'Matthew Broderick', 'Justine Bateman', 'Lisa Bonet',
			])
		},

		save() {
			let data = new FormData()
			data.append('name', this.rand_seed)
			data.append('original_name', this.file_name)

			this.$backend_api.post("text_file/", data)
				.then(resp => {
					this.$message.success('Saved successfully')
					if (this.new)
						this.$emit('close_text_file')
				})
				.catch(err => {
					this.errors(err)
				})
		},
	},

	computed: {
		valid_image() {
			return (
				this.image_source.match(/unsplash/) !== null ||
				this.image_source.match(/\.(jpeg|jpg|gif|png)$/) != null
			)
		}
	},

	created() {
		if (this.content != null) {
			this.editor.setContent(this.content)
		}
	},

	mounted() {
		this.file_name = this.file.original_name

		// https://gist.github.com/6174/6062387
		if (this.new) {
			let seed = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 2)
			seed = [seed.slice(0, 2), "/", seed.slice(2)].join('')
			seed = seed + ".rtxt"
			this.rand_seed = seed
		}
		else
			this.rand_seed = this.file.name

		const ydoc = new Y.Doc()
		this.provider = new WebsocketProvider('ws://127.0.0.1:1234', this.rand_seed, ydoc)
		this.provider.on('status', event => {
			console.log(event.status)
		})

		this.editor = new Editor({
			extensions: [
				Document,
				Text,
				Paragraph,
				Alignment,
				FontFamily,
				FontSize,
				FontFillColor,
				FontTextColor,
				// History,
				Heading.configure({
					levels: [1, 2, 3],
				}),
				HardBreak,
				Bold,
				Italic,
				Underline,
				Strike,
				Blockquote,
				BulletList,
				ListItem,
				OrderedList,
				Link,
				HorizontalRule,
				Image,
				Table.configure({
					resizable: true,
				}),
				TableHeader,
				TableCell,
				TableRow,
				Collaboration.configure({
					document: ydoc,
				}),

				CollaborationCursor.configure({
					provider: this.provider,
					user: this.currentUser,
					onUpdate: users => {
						this.users = users
					},
				}),
			]
		})

		localStorage.setItem('currentUser', JSON.stringify(this.currentUser))
	},

	beforeDestroy() {
		this.editor.destroy()
		this.provider.destroy()
	},
}
</script>

<style>
 *:focus {
	outline: none;
}
.editor {
	position: relative;
	max-width: 35rem;
	margin: 0 auto 5rem auto;
	border: 1px solid #ccc;
}
.editor__content {
	word-wrap: break-word;
	border: 1px solid #eee;
	line-height: normal;
}
.editor__content * {
	caret-color: currentColor;
}
.editor__content pre {
	padding: 0.7rem 1rem;
	border-radius: 5px;
	background: #000;
	color: #fff;
	font-size: 0.8rem;
	overflow-x: auto;
}
.editor__content pre code {
	display: block;
}
.editor__content p code {
	display: inline-block;
	padding: 0 0.4rem;
	border-radius: 5px;
	font-size: 0.8rem;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.8);
}
.editor__content ul, .editor__content ol {
	padding-left: 1rem;
}
.editor__content li > p, .editor__content li > ol, .editor__content li > ul {
	margin: 0;
}
.editor__content a {
	color: inherit;
}
.editor__content blockquote {
	border-left: 3px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.8);
	padding-left: 0.8rem;
	font-style: italic;
}
.editor__content blockquote p {
	margin: 0;
}
.editor__content img {
	max-width: 100%;
	border-radius: 3px;
}
.editor__content table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.editor__content table td, .editor__content table th {
	min-width: 1em;
	border: 2px solid #ddd;
	padding: 3px 5px;
	vertical-align: top;
	box-sizing: border-box;
	position: relative;
}
.editor__content table td > *, .editor__content table th > * {
	margin-bottom: 0;
}
.editor__content table th {
	font-weight: bold;
	text-align: left;
}
.editor__content table .selectedCell:after {
	z-index: 2;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(200, 200, 255, 0.4);
	pointer-events: none;
}
.editor__content table .column-resize-handle {
	position: absolute;
	right: -2px;
	top: 0;
	bottom: 0;
	width: 4px;
	z-index: 20;
	background-color: #adf;
	pointer-events: none;
}
.editor__content .tableWrapper {
	margin: 1em 0;
	overflow-x: auto;
}
.editor__content .resize-cursor {
	cursor: ew-resize;
	cursor: col-resize;
}
.menubar {
	margin-bottom: 1rem;
	transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
}
.menubar.is-hidden {
	visibility: hidden;
	opacity: 0;
}
.menubar.is-focused {
	visibility: visible;
	opacity: 1;
	transition: visibility 0.2s, opacity 0.2s;
}
.menubar__button {
	font-weight: bold;
	display: inline-flex;
	background: transparent;
	border: 0;
	color: #000;
	padding: 0.2rem 0.5rem;
	margin-right: 0.2rem;
	border-radius: 3px;
	cursor: pointer;
}
.menubar__button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.menubar__button.is-active {
	background-color: rgba(0, 0, 0, 0.1);
}
.menububble {
	position: absolute;
	display: flex;
	z-index: 20;
	background: #000;
	border-radius: 5px;
	padding: 0.3rem;
	margin-bottom: 0.5rem;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}
.menububble.is-active {
	opacity: 1;
	visibility: visible;
}
.menububble__button {
	display: inline-flex;
	background: transparent;
	border: 0;
	color: #fff;
	padding: 0.2rem 0.5rem;
	margin-right: 0.2rem;
	border-radius: 3px;
	cursor: pointer;
}
.menububble__button:last-child {
	margin-right: 0;
}
.menububble__button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.menububble__button.is-active {
	background-color: rgba(255, 255, 255, 0.2);
}
.menububble__form {
	display: flex;
	align-items: center;
}
.menububble__input {
	font: inherit;
	border: none;
	background: transparent;
	color: #fff;
}

.menububble__dropdown_item {
	padding: 0 !important;
}
.menububble__dropdown_item button:hover {
	background-color: #fff;
	color: #000;
}
.menububble__dropdown_item button {
	line-height: 36px;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
.menububble__dropdown_item .icon {
	top: 0.6rem;
    margin-left: 6px !important;
}
</style>