@media only screen and (max-width:767px) {
	.el-col-rasty-xs-1 {
		width:4.16667%
	}
	.el-col-rasty-xs-2 {
		width:8.33333%
	}
	.el-col-rasty-xs-3 {
		width:12.50%
	}
	.el-col-rasty-xs-4 {
		width:16.66667%
	}
	.el-col-rasty-xs-5 {
		width:20.83333%
	}
	.el-col-rasty-xs-6 {
		width:25%
	}
	.el-col-rasty-xs-7 {
		width:29.16667%
	}
	.el-col-rasty-xs-8 {
		width:33.33333%
	}
	.el-col-rasty-xs-9 {
		width:37.5%
	}
	.el-col-rasty-xs-10 {
		width:41.66667%
	}
	.el-col-rasty-xs-11 {
		width:45.83333%
	}
	.el-col-rasty-xs-12 {
		width:50%
	}
	.el-col-rasty-xs-13 {
		width:54.16667%
	}
	.el-col-rasty-xs-14 {
		width:58.33333%
	}
	.el-col-rasty-xs-15 {
		width:62.5%
	}
	.el-col-rasty-xs-16 {
		width:66.66667%
	}
	.el-col-rasty-xs-17 {
		width:70.83333%
	}
	.el-col-rasty-xs-18 {
		width:75%
	}
	.el-col-rasty-xs-19 {
		width:79.16667%
	}
	.el-col-rasty-xs-20 {
		width:83.33333%
	}
	.el-col-rasty-xs-21 {
		width:87.5%
	}
	.el-col-rasty-xs-22 {
		width:91.66667%
	}
	.el-col-rasty-xs-23 {
		width:95.83333%
	}
	.el-col-rasty-xs-24 {
		width:100%
	}
}

@media only screen and (max-width:475px) {
	.el-col-rasty-xxs-1 {
		width:4.16667%
	}
	.el-col-rasty-xxs-2 {
		width:8.33333%
	}
	.el-col-rasty-xxs-3 {
		width:12.50%
	}
	.el-col-rasty-xxs-4 {
		width:16.66667%
	}
	.el-col-rasty-xxs-5 {
		width:20.83333%
	}
	.el-col-rasty-xxs-6 {
		width:25%
	}
	.el-col-rasty-xxs-7 {
		width:29.16667%
	}
	.el-col-rasty-xxs-8 {
		width:33.33333%
	}
	.el-col-rasty-xxs-9 {
		width:37.5%
	}
	.el-col-rasty-xxs-10 {
		width:41.66667%
	}
	.el-col-rasty-xxs-11 {
		width:45.83333%
	}
	.el-col-rasty-xxs-12 {
		width:50%
	}
	.el-col-rasty-xxs-13 {
		width:54.16667%
	}
	.el-col-rasty-xxs-14 {
		width:58.33333%
	}
	.el-col-rasty-xxs-15 {
		width:62.5%
	}
	.el-col-rasty-xxs-16 {
		width:66.66667%
	}
	.el-col-rasty-xxs-17 {
		width:70.83333%
	}
	.el-col-rasty-xxs-18 {
		width:75%
	}
	.el-col-rasty-xxs-19 {
		width:79.16667%
	}
	.el-col-rasty-xxs-20 {
		width:83.33333%
	}
	.el-col-rasty-xxs-21 {
		width:87.5%
	}
	.el-col-rasty-xxs-22 {
		width:91.66667%
	}
	.el-col-rasty-xxs-23 {
		width:95.83333%
	}
	.el-col-rasty-xxs-24 {
		width:100%
	}
}