<template>
	<keep-alive>
		<router-view />
	</keep-alive>
</template>

<style>
.image {
	font-size: 30px;
	width: 100%;
}
.image .image-slot {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70px;
	width: 100%;
	height: 100%;
	color: #909399;
}
.accepted {
	background-color: #67C23A !important;
}
.declined {
	background-color: #F56C6C !important;
}
.partial-declined {
	background-color: #E6A23C !important;
}
.specific-declined {
	background-color: #E4E7ED;
	padding-left: 10px;
	padding-right: 10px;
}
.viewed {
	background-color: #409EFF !important;
}
.sold {
	background-color: #909399 !important;
}
.color-box {
	position: relative;
    border-radius: 4px;
    padding: 20px;
    margin: 5px 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
}
.line-height {
	line-height: 2em;
}
.right-border {
	border-right: 1px solid #E4E7ED;
}
.top-border {
	border-top: 1px solid #E4E7ED;
}
.left-border {
	border-left: 1px solid #E4E7ED;
}

@media only screen and (max-width: 500px) {
	.el-col-xxs-24 {
		width: 100% !important;
	}
}
</style>